<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liongrid.icarus"
    android:versionCode="2"
    android:versionName="0.1" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" android:debuggable="true">
        
         <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FlyActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
       
        <activity
            android:name=".FlightListingActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".SubmitHighscoreActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".ViewHighscoresActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".HelpActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        
        
    </application>

</manifest>